
 .container-form {
  margin-top: 10vh;
} 


.title {
    text-align: center;
}
/* Label */
.ant-form-item-label > label {
  font-weight: 100;
  font-size: 15px;
  color: #333;
}

/* Input - FIX: Thêm ant-input-affix-wrapper để Input.Password có cùng width */
.ant-input {
  width: 60vh;
  height: 6vh;
  border-radius: 6px;
}
.ant-input-affix-wrapper {
    width: 60vh;
    height: 6vh;
}

.login-form .ant-form-item-label > label {
  display: block;
  width: 60vh;
  font-size: 2.7vh;
}

/* .login-form .ant-form-item {
  width: 100%;
}

.login-form .ant-form-item-control {
  width: 100%;
} */
.ant-form-item-explain-error{
    width: 60vh;
    text-align: left;
    margin-top: 10px;
}
.forgot-password:hover {
  text-decoration: underline;
}

/* Nút đăng nhập */
.cancel-btn {
  width: 25vh;
  background-color:  rgb(220, 220, 220) !important;
  height: 38px;
  border-radius: 6px  ;
  border: 2px solid #e86a1a;
  font-weight: 600;
  color: #e86a1a;
}
.continue-btn {
  width: 25vh;
  margin-left: 5vh;
  background-color: #e86a1a !important;
  border: none !important;
  height: 38px;
  border-radius: 6px;
  font-weight: 600;
}
.reset-btn{
  display: flex;
  justify-content: space-between;
}
.login-btn:hover {
  background-color: #d45d10 !important;
}